@import "tailwindcss";
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: 200%; /* 2 images side by side */
  animation: scroll 30s linear infinite;
}
@keyframes slide-right {
  from { transform: translateX(-10px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

.animate-slide-right {
  animation: slide-right 0.3s forwards;
}

